<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshi.order.dao.ComboAndfFoodItemAssociationDao">

    <resultMap id="baseResultMap" type="com.xiaoshi.order.pojo.entity.ComboAndfFoodItemAssociation">
        <result column="foodItemCount" property="foodItemCount" jdbcType="BIGINT" javaType="java.lang.Integer"/>
        <result column="isDeleted" property="isDeleted" jdbcType="BIT" javaType="java.lang.Boolean"/>
        <association column="comboId" property="combo"
                     select="com.xiaoshi.order.dao.ComboDao.select">
        </association>
        <association column="foodItemId" property="foodItem"
                     select="com.xiaoshi.order.dao.FoodItemDao.select">
        </association>
    </resultMap>

    <select id="select" resultMap="baseResultMap" parameterType="java.lang.Long">
      select *
      from comboandfooditemassociation where comboId = #{comboId}
    </select>

    <select id="selectList" resultMap="baseResultMap">
      select * from comboandfooditemassociation
    </select>


    <insert id="insert" useGeneratedKeys="true" parameterType="com.xiaoshi.order.pojo.entity.ComboAndfFoodItemAssociation"
            keyProperty="comboId">
        insert into comboandfooditemassociation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="foodItemCount != null">
                foodItemCount,
            </if>
            <if test="isDeleted != null">
                isDeleted,
            </if>
            <if test="combo != null">
                comboId,
            </if>
            <if test="foodItem != null">
            foodItemId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="foodItemCount != null">
                #{foodItemCount},
            </if>
            <if test="isDeleted != null">
                #{isDeleted},
            </if>
            <if test="combo != null">
                #{combo.comboId},
            </if>
            <if test="foodItem != null">
                #{foodItem.foodItemId},
            </if>
        </trim>
    </insert>

    <select id="getComboAndfFoodItemAssociationByParameter" parameterType="java.util.Map" resultMap="baseResultMap">
        select * from comboandfooditemassociation where 1=1
        <if test="foodItemCount != null">
            and foodItemCount=#{foodItemCount}
        </if>
        <if test="comboId != null">
            and comboId=#{comboId}
        </if>
        <if test="foodItem != null">
            and foodItemId=#{foodItemId}
        </if>
    </select>

    <update id="updateComboAndfFoodItemAssociation" parameterType="com.xiaoshi.order.pojo.entity.ComboAndfFoodItemAssociation">
         update comboandfooditemassociation
        <set>
            <if test="foodItemCount != null">
                foodItemCount=#{foodItemCount},
            </if>
            <if test="isDeleted != null">
                isDeleted=#{isDeleted},
            </if>
        </set>
        where comboId = #{combo.comboId} and foodItemId=#{foodItem.foodItemId}
    </update>
</mapper>