<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshi.order.dao.ComboDao">

    <resultMap id="baseResultMap" type="com.xiaoshi.order.pojo.entity.Combo">

        <id column="comboId" property="comboId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <association column="comboTemplateId" property="comboTemplate"
                     select="com.xiaoshi.order.dao.ComboTemplateDao.select">
        </association>
    </resultMap>

    <select id="select" resultMap="baseResultMap" parameterType="java.lang.Long">
      select *
      from combo where comboId = #{id}
    </select>

    <select id="selectList" resultMap="baseResultMap">
      select * from combo
    </select>


    <insert id="insert" useGeneratedKeys="true" parameterType="com.xiaoshi.order.pojo.entity.Combo"
            keyProperty="comboId">
        insert into combo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="comboTemplate != null">
                comboTemplateId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="comboTemplate != null">
                #{comboTemplate.comboTemplateId},
            </if>
        </trim>
    </insert>

    <select id="getComboByParameter" parameterType="java.util.Map" resultMap="baseResultMap">
        select * from combo where 1=1
    </select>

    <update id="updateCombo" parameterType="com.xiaoshi.order.pojo.entity.Combo">
         update combo
        <set>
            <if test="comboTemplate != null">
                comboTemplateId= #{comboTemplate.comboTemplateId},
            </if>
        </set>
        where comboId = #{comboId}
    </update>
</mapper>