<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoshi.order.dao.MessageDetailDao">

    <resultMap id="baseResultMap" type="com.xiaoshi.order.pojo.entity.MessageDetail">
        <id column="messageDetailId" property="messageDetailId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="sendPeopleType" property="sendPeopleType" jdbcType="BIGINT" javaType="java.lang.Integer"/>
        <result column="sendPeopleId" property="sendPeopleId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="receivePeopleType" property="receivePeopleType" jdbcType="BIGINT" javaType="java.lang.Integer"/>
        <result column="receivePeopleId" property="receivePeopleId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="messageContent" property="messageContent" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="sendTime" property="sendTime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result column="sendIsRead" property="sendIsRead" jdbcType="BIT" javaType="java.lang.Boolean"/>
        <result column="receiveIsRead" property="receiveIsRead" jdbcType="BIT" javaType="java.lang.Boolean"/>
        <association column="messageId" property="message"
                     select="com.xiaoshi.order.dao.MessageDao.select">
        </association>
    </resultMap>

    <select id="select" resultMap="baseResultMap" parameterType="java.lang.Long">
      select * from messagedetail where messageDetailId = #{messageDetailId}
    </select>

    <select id="selectList" resultMap="baseResultMap">
      select * from messagedetail
    </select>

    <insert id="insert" useGeneratedKeys="true" parameterType="com.xiaoshi.order.pojo.entity.MessageDetail"
            keyProperty="messageDetailId">
        insert into messagedetail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sendPeopleType != null">
                sendPeopleType,
            </if>
            <if test="sendPeopleId != null">
                sendPeopleId,
            </if>
            <if test="receivePeopleType != null">
                receivePeopleType,
            </if>
            <if test="receivePeopleId != null">
                receivePeopleId,
            </if>
            <if test="messageContent != null">
                messageContent,
            </if>
            <if test="sendTime != null">
                sendTime,
            </if>
            <if test="sendIsRead != null">
                sendIsRead,
            </if>
            <if test="receiveIsRead != null">
                receiveIsRead,
            </if>
            <if test="message != null">
                messageId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sendPeopleType != null">
                #{sendPeopleType},
            </if>
            <if test="sendPeopleId != null">
                #{sendPeopleId},
            </if>
            <if test="receivePeopleType != null">
                #{receivePeopleType},
            </if>
            <if test="receivePeopleId != null">
                #{receivePeopleId},
            </if>
            <if test="messageContent != null">
                #{messageContent},
            </if>
            <if test="sendTime != null">
                #{sendTime},
            </if>
            <if test="sendIsRead != null">
                #{sendIsRead},
            </if>
            <if test="receiveIsRead != null">
                #{receiveIsRead},
            </if>
            <if test="message != null">
                #{message.messageId},
            </if>

        </trim>
    </insert>

    <select id="getMessageDetailByParameter" parameterType="java.util.Map" resultMap="baseResultMap">
        select * from messagedetail where 1=1
        <if test="sendPeopleType != null">
            and sendPeopleType= #{sendPeopleType}
        </if>
        <if test="sendPeopleId != null">
            and sendPeopleId= #{sendPeopleId}
        </if>
        <if test="receivePeopleType != null">
            and receivePeopleType= #{receivePeopleType}
        </if>
        <if test="receivePeopleId != null">
            and receivePeopleId= #{receivePeopleId}
        </if>
        <if test="messageContent != null">
            and messageContent= #{messageContent}
        </if>
        <if test="sendTime != null">
            and sendTime= #{sendTime}
        </if>
        <if test="sendIsRead != null">
            and sendIsRead= #{sendIsRead}
        </if>
        <if test="receiveIsRead != null">
            and receiveIsRead= #{receiveIsRead}
        </if>
        <if test="messageId != null">
            and messageId= #{messageId}
        </if>
        <if test="messageDetailId != null">
            and messageDetailId= #{messageDetailId}
        </if>
    </select>

    <update id="updateMessageDetail" parameterType="com.xiaoshi.order.pojo.entity.MessageDetail">
        update messagedetail
        <set>
            <if test="sendPeopleType != null">
                sendPeopleType= #{sendPeopleType},
            </if>
            <if test="sendPeopleId != null">
                 sendPeopleId= #{sendPeopleId},
            </if>
            <if test="receivePeopleType != null">
                 receivePeopleType= #{receivePeopleType},
            </if>
            <if test="receivePeopleId != null">
                 receivePeopleId= #{receivePeopleId},
            </if>
            <if test="messageContent != null">
                 messageContent= #{messageContent},
            </if>
            <if test="sendTime != null">
                 sendTime= #{sendTime},
            </if>
            <if test="sendIsRead != null">
                 sendIsRead= #{sendIsRead},
            </if>
            <if test="receiveIsRead != null">
                 receiveIsRead= #{receiveIsRead},
            </if>
            <if test="message != null">
                 messageId= #{message.messageId},
            </if>
        </set>
        where messageDetailId = #{messageDetailId}
    </update>

</mapper>